name: iitbbs-internet test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      
    - name: setting up python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r iitbbs-internet/requirements.txt
        
    - name: install firefox
        sudo apt update && sudo apt install firefox
        wget https://github.com/mozilla/geckodriver/releases/download/v0.26.0/geckodriver-v0.26.0-linux64.tar.gz
        tar xzf geckodriver-v0.25.0-linux64.tar.gz
        sudo mv geckodriver /usr/bin/geckodriver

    - name: run test
      run: |
        python iitbbs-internet/login.py
